<config>
  
  <!-- global settings -->
  <log-file>/tmp/my.log</log-file>
  <network>My Network</network>
  <noc>My NOC</noc>
  <noc-website>http://noc.network.net</noc-website>
  <email>My Email Address</email>
  <max-lines>2500</max-lines>
  <timeout>60</timeout>
  <enable-menu-commands>1</enable-menu-commands>
  <command-help>Note: some text that does not contain greater/less than sign</command-help>
  <spam-seconds>0</spam-seconds>
  <layer3-title>Core Routers</layer3-title>
  <layer3-collapse>0</layer3-collapse>
  <layer2-title>Observatory / RackLAN Switches</layer2-title>
  <layer2-collapse>0</layer2-collapse>
  <layer1-title>Optical Gear</layer1-title>
  <layer1-collapse>0</layer1-collapse>
  
  <!-- configured devices -->
  <device>
    <name>Juniper Router</name>
    <type>junos</type>
    <address>juniper.router.com</address>
    <city>City</city>
    <state>ST</state>
    <method>telnet</method>
    <username>user</username>
    <password>pass</password>
    <layer>3</layer>
  </device>
  <device>
    <name>Cisco Router</name>
    <type>ios</type>
    <address>cisco.router.com</address>
    <city>City</city>
    <state>ST</state>
    <method>ssh</method>
    <username>user</username>
    <password>pass</password>
    <layer>3</layer>
  </device>
  <device>
    <name>Cisco 6509</name>
    <type>ios6509</type>
    <address>cisco6509.router.com</address>
    <city>City</city>
    <state>ST</state>
    <method>ssh</method>
    <username>user</username>
    <password>pass</password>
    <layer>2</layer>
  </device>
  <device>
    <name>Cisco CRS</name>
    <type>iosxr</type>
    <address>iosxr.router.com</address>
    <city>City</city>
    <state>ST</state>
    <method>ssh</method>
    <username>user</username>
    <password>pass</password>
    <layer>3</layer>
  </device>
  <device>
    <name>Nortel HDXc</name>
    <type>hdxc</type>
    <address>hdxc.router.com</address>
    <port>23</port>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>1</layer>
  </device>
  <device>
    <name>Nortel OME</name>
    <type>ome</type>
    <address>ome.router.com</address>
    <port>23</port>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>1</layer>
  </device>
  <device>
    <name>Cisco ONS 15454</name>
    <type>ons15454</type>
    <address>ons15454.router.com</address>
    <port>3083</port>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>1</layer>
  </device>
  <device>
    <name>Ciena Core Director</name>
    <type>ciena</type>
    <address>ciena.router.com</address>
    <port>10201</port>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>1</layer>
  </device>
  <device>
    <name>HP ProCurve</name>
    <type>hp</type>
    <address>hp.router.com</address>
    <method>ssh</method>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>2</layer>
  </device>
  <device>
    <name>Force 10</name>
    <type>force10</type>
    <address>force10.router.com</address>
    <method>ssh</method>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>2</layer>
  </device>
  <device>
    <name>NX-OS Device</name>
    <type>nx-os</type>
    <address>nx-os.router.com</address>
    <method>ssh</method>
    <city>City</city>
    <state>ST</state>
    <username>user</username>
    <password>pass</password>
    <layer>3</layer>
  </device>
  
  <!-- enabled commands for junos devices -->
  <junos-commands>
    <command>mtrace</command>
    <command>ping count 5</command>
    <command>show bgp</command>
    <command>show chassis</command>
    <command>show interface</command>
    <command>show ipv6</command>
    <command>show msdp</command>
    <command>show multicast</command>
    <command>show pfe</command>
    <command>show pim</command>
    <command>show rip</command>
    <command>show ripng</command>
    <command>show route</command>
    <command>show version</command>
    <command>traceroute</command>
    <exclude>this command won't be allowed</exclude>
  </junos-commands>
  
  <!-- enabled commands for ios devices -->
  <ios-commands>
    <command>mtrace</command>
    <command>ping</command>
    <command>show bgp</command>
    <command>show controller</command>
    <command>show environment</command>
    <command>show interface</command>
    <command>show ip</command>
    <command>show ipv6</command>
    <command>show route-map</command>
    <command>show version</command>
    <command>traceroute</command>
    <exclude>this command won't be allowed</exclude>
  </ios-commands>
  
  <!-- enabled commands for ios2 devices -->
  <ios2-commands>
    <command>mtrace</command>
    <command>ping</command>
    <command>show interfaces</command>
    <command>show ip</command>
    <command>show mac-address-table</command>
    <command>show version</command>
    <command>show vlan</command>
    <command>traceroute</command>
    <exclude>this command won't be allowed</exclude>
  </ios2-commands>
  
  <!-- enabled commands for ios 6500 devices -->
  <ios6509-commands>
    <command>mtrace</command>
    <command>ping</command>
    <command>show bgp</command>
    <command>show controller</command>
    <command>show environment</command>
    <command>show interface</command>
    <command>show mac-address-table</command>
    <command>show power</command>
    <command>show proc</command>
    <command>show spanning-tree</command>
    <command>show version</command>
    <command>trace</command>
    <exclude>this command won't be allowed</exclude>
  </ios6509-commands>
  
  <!-- enabled commands for ios xr devices -->
  <iosxr-commands>
    <command>mtrace</command>
    <command>ping</command>
    <command>show bgp</command>
    <command>show interface</command>
    <command>show mrib</command>
    <command>show msdp</command>
    <command>show pim</command>
    <command>show route</command>
    <command>show version</command>
    <command>traceroute</command>
    <exclude>this command won't be allowed</exclude>
  </iosxr-commands>
  
  <!-- enabled commands for nx-os devices -->
  <nx-os-commands>
    <command>show bgp</command>
    <command>show environment</command>
    <command>show interface</command>
    <command>show ip</command>
    <command>show ipv6</command>
    <command>show route-map</command>
    <command>show version</command>
    <exclude>this command won't be allowed</exclude>
  </nx-os-commands>
  
  <!-- enabled commands for hp devices -->
  <hp-commands>
    <command>ping repetitions 5</command>
    <command>show interfaces</command>
    <command>show ip</command>
    <command>show system-information</command>
    <command>show version</command>
    <command>show vlans</command>
    <command>traceroute</command>
    <exclude>this command won't be allowed</exclude>
  </hp-commands>
  
  <!-- enabled commands for hdxc devices -->
  <hdxc-commands>
    <command>RTRV-ALM-ALL:::1::;</command>
    <command>RTRV-CRS-ALL:::1;</command>
    <command>RTRV-INVENTORY:::1;</command>
    <command>RTRV-IP:::1;</command>
    <exclude>this command won't be allowed</exclude>
  </hdxc-commands>
  
  <!-- enabled commands for ons15454 devices -->
  <ons15454-commands>
    <command>RTRV-ALM-ALL:::1;</command>
    <command>RTRV-CRS::ALL:1;</command>
    <command>RTRV-FAC::ALL:1;</command>
    <command>RTRV-INV::ALL:1;</command>
    <command>RTRV-NE-GEN:::1;</command>
    <exclude>this command won't be allowed</exclude>
  </ons15454-commands>
  
  <!-- enabled commands for nortel ome devices -->
  <ome-commands>
    <command>RTRV-ALM-ALL:::1::;</command>
    <command>RTRV-CRS-ALL:::1;</command>
    <command>RTRV-INVENTORY:::1;</command>
    <command>RTRV-IP:::1;</command>
    <exclude>this command won't be allowed</exclude>
  </ome-commands>
  
  <!-- enabled commands for ciena devices -->
  <ciena-commands>
    <command>RTRV-ALM-ALL:::1;</command>
    <command>RTRV-CRS:::1;</command>
    <command>RTRV-EQPT::ALL:1;</command>
    <exclude>this command won't be allowed</exclude>
  </ciena-commands>
  
  <!-- enabled commands for force10 devices -->
  <force10-commands>
    <command>mtrace</command>
    <command>ping</command>
    <command>show arp</command>
    <command>show environment</command>
    <command>show interface</command>
    <command>show inventory</command>
    <command>show ip interface</command>
    <command>show mac-address-table</command>
    <command>show spanning-tree pvst vlan</command>
    <command>show vlan</command>
    <command>show version</command>
    <command>traceroute</command>
    <exclude>this command won't be allowed</exclude>
  </force10-commands>
  
  <!-- any stanzas to redact in the output -->
  <redact-stanzas>
    <stanza>A regex to be redacted</stanza>
  </redact-stanzas>

</config>
