
<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <script>
    function toggle(id) {
    var object = document.getElementById(id);
    var currentDisplay = object.style.display;

    if (currentDisplay == 'none') {
    object.style.display = 'table';
    } else {
    object.style.display = 'none';
    }
    }
o
    function loadCommands(obj) {
    var address = obj.value;
    var url = "?method=device&address=" + address;

    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
    if (req.readyState == 4) { // && req.status == 200) {
    var select = document.getElementById("host_command_select");
    var i;
    for (i = select.options.length -1; i >= 0; i--) {
    select.remove(i);
    }

    var data = JSON.parse(req.responseText);
    for (i = data.commands.length - 1; i >= 0; i--) {
    var opt = document.createElement("option");
    opt.text = data.commands[i];
    opt.value = data.commands[i];
    select.add(opt);
    }
    }
    }
    req.open("GET", url, true);
    req.send(null);
    }
    
    function submitCommand() {
    var devices   = document.getElementsByName("host_radio");
    var address   = null;
    var i;
    for (i = 0; devices.length > i; i++) {
    if (devices[i].checked) {
    address = devices[i].value;
    break;
    }
    }
    var command   = document.getElementById("host_command_select");
    var arguments = document.getElementById("host_command_text");
    
    var url = "?method=submit&address=" + address + "&command=" + command;
    url = url + "&arguments=" + arguments;

    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
    if (req.readyState == 4) { // && req.status == 200) {
    var pre = document.getElementById("result_pre");
    pre.text = req.responseText;
    }
    }
    }
    req.open("GET", url, true);
    req.send(null);
    }
  </script>

  <style>
    .routerproxy {
    padding:0px;
    margin:0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1.4em;
    }

    .header {
    flex: none;
    text-align: center;
    color: #7A1705;
    background-color: #fff;
    }

    .body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #ffffff;
    }

    .result {
    flex: none;
    text-align: left;
    margin: 10px;
    }

    .result_pre {
    overflow-x: scroll;
    }

    .footer {
    flex: none;
    text-align: center;
    color: #4b4b4b;
    background-color: #ffffff;
    }

    .content {
    flex: 5;
    }

    .aside1 {
    flex: 1;
    order: -1;
    background-color: #fff;
    }

    .aside2 {
    flex: 1;
    background-color: #fff;
    }

    .host_group {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #bbb;
    }

    .host_group_header {
    flex: 1 100%;
    text-align: center;
    color: #EDE9E6;
    background-color: #7A1705;
    }

    .host {
    flex: 1;
    margin: 0px 5px;
    min-width: 150px;
    }

    .host_command {
    display: flex;
    margin: 10px;
    flex-direction: column;
    }

    @media all and (min-width: 800px) {
    .body {
    flex-flow: row wrap;
    }

    .host_command {
    flex-flow: row wrap;
    }

    .host_command_select {
    flex: 2;
    margin: 0px 5px;
    }

    .host_command_text {
    flex: 5;
    margin: 0px 5px;
    }

    .host_command_button {
    flex: 1;
    margin: 0px 5px;
    }
    }
  </style>

  <head>
    <meta charset="UTF-8">
    <title>[% network_name %] Router Proxy</title>
  </head>

  <body class="routerproxy">
    <header class="header">
      <br/>
      <h1>[% network_name %] Router Proxy</h1>
      A service of the <a href="[% noc_site %]">[% noc_name %]</a>
    </header>
    <br/>

    <div class="body">
      <div class="content">

        [% FOREACH group IN groups %]
        <div class="host_group">
          <div class="host_group_header">[% group.name %]</div>
          
          [% FOREACH device = group.devices %]
          <div class="host">
            <input type="radio" name="host_radio" id="[% device.name %]" value="[% device.address %]" onchange="loadCommands(this)">
            [% device.name %] ([% device.city %], [% device.state %])</input>
          </div>
          [% END %]
          
        </div>
        [% END %]
        
        <div class="host_command">
          <select class="host_command_select" id="host_command_select"></select>
          <input class="host_command_text" type="text"></input>
          <input class="host_command_button" type="button" value="Submit" onclick="submitCommand"></input>
        </div>

        <div class="result">
          <pre><code id="result_pre" class="result_pre">
          </code></pre>
        </div>
      </div>

      <div class="aside1"></div>
      <div class="aside2"></div>
    </div>

    <footer class="footer">
      Developed by Global Research NOC Systems Engineering<br/>
      Copyright 2015, The Trustees of Indiana University<br/>
      ~
    </footer>
  </body>

</html>
